{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{form.hidden_tag()}}
           <img class="mb-4" src="{{ url_for('static', filename='a.png') }}" alt="" width="300" height="300" >
            <h1 class="h3 mb-3 font-weight-normal" style="color: indigo">
                Please Create your Account
            </h1>
            <div style="color: indigo">
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}

            {{ form.password_confirm.label() }}
            {{ form.password_confirm(class="form-control", placeholder="Confirm Password") }}

            <br>
                </div>
           <div class="checkbox mb-3" style="color: indigo">
                <h6>already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{url_for('main.login')}}">login </a>
            </div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}