{% extends 'base.html' %}

{% block title %}
    Sell Page
{% endblock %}

{% block content %}
<div class="container">
        <div class="row justify-content-md-center">
  <div class="col-md-6 text-center">
<img class="mb-4" src="{{ url_for('static', filename='a.png') }}" alt="" width="300" height="300" >
  </div>
        </div>
</div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
               <form method="POST" class="form-signin" style="color:black;">
    {{ form.hidden_tag() }}  {# Add this line to include the CSRF token #}

    <h1 class="h3 mb-3 font-weight-normal">
        Please Enter House Details
    </h1>

    <div class="form-group">
        {{ form.rooms.label(class="sr-only") }}
        {{ form.rooms(class="form-control", placeholder="Number of Rooms", required=true) }}
    </div>

    <div class="form-group">
        {{ form.distance.label(class="sr-only") }}
        {{ form.distance(class="form-control", placeholder="Distance from CBD", required=true) }}
    </div>

    <div class="form-group">
        {{ form.landsize.label(class="sr-only") }}
        {{ form.landsize(class="form-control", placeholder="Land Size (sq. ft.)", required=true) }}
    </div>

    <div class="form-group">
        {{ form.building_area.label(class="sr-only") }}
        {{ form.building_area(class="form-control", placeholder="Building Area (sq. ft.)", required=true) }}
    </div>

    <div class="form-group">
        {{ form.year_built.label(class="sr-only") }}
        {{ form.year_built(class="form-control", placeholder="Year Built", required=true) }}
    </div>
    <div class="form-group">
        {{ form.description.label(class="sr-only") }}
        {{ form.description(class="form-control", placeholder="description", required=true) }}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>

            </div>
        </div>
    </div>
{% endblock %}
